- name: Renommer l'ordinateur
  ansible.windows.win_hostname:
    name: "{{ hostname }}"
  register: rename_result

- name: Redémarrer si renommage effectué
  ansible.windows.win_reboot:
    reboot_timeout: 600
  when: rename_result.reboot_required

- name: Installer les rôles ADDS et DNS
  ansible.windows.win_feature:
    name:
      - AD-Domain-Services
      - DNS
    state: present
    include_management_tools: true

- name: Promouvoir le serveur comme contrôleur de domaine enfant
  microsoft.ad.domain_child:
    dns_domain_name: "{{ domain_name }}"               # ex: test.homelab.local
    domain_admin_user: "{{ parent_domain_user }}"
    domain_admin_password: "{{ parent_domain_password }}"
    safe_mode_password: "{{ safe_mode_password }}"
    install_dns: true
    reboot: true
